.calendar {
    display: table;
    width: 50%;
}

.event {
    display: table-row;
}

.event-date, .event-title {
    display: table-cell;
    padding: 5px;
    text-align: left;
}

.calendar-table {
    width: 100%;
}

#calendar1 {
    float:left;
}

#calendar2 {
    float:right;
}
